.row
  .col-sm-4
    .list-group
      %a.list-group-item{'ng-href'=> '#', 'ng-repeat' => 'folder in folders',
      'ng-click' => 'activateFolder(folder)', 'anchor' => '', 'ng-class' => "{'active': activeFolder == folder}", }
        {{folder.name}}
  .col-sm-8
    %div{'ng-if' => '!activeFolder.isNew'}
      %div{'ng-include' => "'/assets/items/index.html'"}
    %div{'ng-if' => 'activeFolder.isNew'}
      %div{'ng-include' => "'/assets/folders/new.html'"}

.modal.fade#itemModal{tabindex: '-1', role: 'dialog', 'aria-labeledby' => 'itemModal', 'aria-hidden' => 'true'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'} &times;
        %h4.modal-title {{activeItem.name}}
      .modal-body
      .modal-footer
        %button.btn.btn-default{'data-dismiss' => 'modal'} Close
