%h1 {{activeFolder.name}}

.list-group
  %a.list-group-item{href: '#', 'ng-repeat' => 'item in activeItems', 'anchor' => '', 
  'ng-click' => 'activateItem(item)'}
    %h4.list-group-item-heading {{item.name}}
    %p.list-group-item-text
      {{item.detail}}
